
html, body
{
	height: 100%;
	min-height: 100%;
	font-family: Cantarell, sans-serif;
}

body
{
	padding: 0px;
	margin: 0px;
	background: #000000;
	
}

a
{
	color: #000269;
}

a:hover
{
	color: #0002A3;
}

.wrapper
{
	width: 960px;
	margin: 0px auto;
}

.ribbon, .top
{
	font-family: "PT Sans Caption", sans-serif;
}

.ribbon
{
	padding: 24px;
	padding-top: 10px;
	color: white;
}

.ribbon, .menu li.current > a, .menu li.current > a:hover, .menu li.current.hover > a
{
	background: rgb(69,72,77); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.ribbon h1, .ribbon h2, .ribbon h3, .ribbon h4, .ribbon h5, .top h1
{
	/* font-family: "Paytone One", sans-serif; */
	margin: 0px;
}

.top h1
{
	font-size: 52px;
}

.top h1 sup
{
	color: #E50200;
	font-size: 38px;
}

.ribbon h2, .top h1 sup
{
	font-weight: normal;
}

.ribbon h2
{
	margin-top: 10px;
	margin-bottom: 15px;
}

.menu li a
{
	color: #2A2A2A;
	/* font-weight: bold; */
	font-size: 16px;
}

.menu li a.highlighted
{
	color: #A90100;
}

.slideshow-inner, .slideshow-buttons li a
{
	border: none;
}


#slideshow_main, #slideshow_main li
{
	width: 960px;
	height: 558px;
}

#slideshow_ipod
{
	float: right;
	margin: 24px;
}

#slideshow_lightning, #slideshow_free
{
	float: left;
	margin: 24px;
}

h3
{
	font-size: 40px;
}

.padder
{
	padding: 14px 32px;
}

.slideshow .padder, .ribbon h2
{
	text-shadow: 4px 3px 9px #000000;
	-webkit-text-shadow: 4px 3px 9px #000000;
	-moz-text-shadow: 4px 3px 9px #000000;
	-o-text-shadow: 4px 3px 9px #000000;
	-ms-text-shadow: 4px 3px 9px #000000;
}

.ribbon p
{
	color: #DEDEDE;
}

.slideshow-buttons li a
{
	color: white;
}

.slideshow-buttons li.current a
{
	background-color: #282828;
}

.menu .icon
{
	vertical-align: -55%;
	margin-right: 3px;
}

button.column .inner
{
	padding: 0px 10px;
}


.fake-label .inner
{
	padding: 0px !important;
	padding-top: 8px !important;
}

.fake-input .inner
{
	padding: 4px !important;
}

/* ErrorHandler styles start here */
	
	.errorhandler
	{
		margin: 10px 0px;
		padding: 8px 10px;
		padding-left: 46px;
		background-position: 8px 6px;
		background-repeat: no-repeat;
		min-height: 24px;
		color: black;
		font-size: 15px;
	}
	
	.errorhandler .error-title
	{
		font-weight: bold;
		font-size: 120%;
	}
	
	.errorhandler.error-error
	{
		background-color: #FCCBC9;
		border: 1px solid red;
		background-image: url(images/errorhandler_error.png);
	}
	
	.errorhandler.error-info
	{
		background-color: #C9F6FC;
		border: 1px solid blue;
		background-image: url(images/errorhandler_info.png);
	}
	
	.errorhandler.error-warning
	{
		background-color: #FBFCC9;
		border: 1px solid #C5BA00;
		background-image: url(images/errorhandler_warning.png);
	}
	
	.errorhandler.error-success
	{
		background-color: #DEFCC9;
		border: 1px solid #4CC500;
		background-image: url(images/errorhandler_success.png);
	}
	
	.errorhandler ul
	{
		margin: 0px;
		padding-left: 24px;
	}
	
	.errorhandler li
	{
	
	}
/* ErrorHandler styles end here */


.right
{
	text-align: right;
}

.article h3
{
	font-size: 26px;
}

.article .column
{
	text-align: justify;
}

.article a
{
	color: #A2B5FF;
}

.article a:hover
{
	color: #738FFF;
}

.article a.button:hover
{
	color: #666666;
}

.article a.button.red:hover
{
	color: #E7E7E7;
}

.overview-item
{
	display: block;
	padding: 9px;
	margin: 7px;
	color: #DCDCDC !important;
	text-decoration: none;
	font-size: 26px;
	border: 2px solid transparent;
}

.overview-item:hover
{
	/* background-color: #161616; */
	border: 2px solid #616161;
	color: white !important;
}

.article strong
{
	background: none;
	color: white;
}

.ribbon .article h3
{
	margin-top: 22px;
}

.locale
{
	float: right;
	margin-right: 16px;
	margin-top: 40px;
}

.menu li a
{
	padding: 13px 19px;
}
