@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 400;
  src: local('Signika-Regular'), url('/fonts/_M5k9_BZTkfaM2dnN0vNGw.woff') format('woff');
}

@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 700;
  src: local('Signika-Bold'), url('/fonts/7M5kxD4eGxuhgFaIk95pBRsxEYwM7FgeyaSgU71cLG0.woff') format('woff');
}

@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 300;
  src: local('Signika-Light'), url('/fonts/koFYE26bhT88HgRA8f4vbRsxEYwM7FgeyaSgU71cLG0.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url('/fonts/zhcz-_WihjSQC0oHJ9TCYBsxEYwM7FgeyaSgU71cLG0.woff') format('woff');
}

form
{
	margin: 0px;
}

.clear
{
	clear: both;
}

.centered
{
	text-align: center;
}

body
{
	font-family: Signika, sans-serif;
	font-size: 15px;
}

h1
{
	font-family: Montserrat, sans-serif;
	font-size: 46px;
	margin: 0px;
}

h2
{
	font-size: 29px;
	margin: 0px;
	margin-bottom: 0px;
	margin-top: 8px;
}

p
{
	margin-top: 1px;
	margin-bottom: 3px;
}

img.logo
{

	margin-right: 12px;
	float: left;
}

.wrapper
{
	width: 900px;
	margin: 0px auto;
}

.header
{
	background-color: #212121;
	color: white;
	padding: 14px;
}

.menu
{
	height: 28px;
}

.menu a
{
	display: block;
	float: left;
	text-decoration: none;
	color: white;
	font-size: 17px;
	background-color: black;
	padding: 6px 8px;
	margin: 1px;
}

.menu a:hover
{
	text-shadow: 0px 0px 7px #717171;
	background-color: #111111;
}

.main
{
	text-align: justify;
	font-size: 16px;
	background-color: #EFEFEF;
	padding: 8px 26px;
	padding-top: 2px;
}

.login
{
	text-align: right;
	padding: 3px 5px;
	background-color: #F5F5F5;
}

.login input
{
	margin-right: 6px;
	width: 110px;
	border: 1px solid #676767;
}

.login button
{
	margin-right: 6px;
	border: 1px solid #676767;
}

/* Generic CPHP FormBuilder styles start here */

	.cphp_fbd_form
	{
		display: table;
		border-collapse: separate;
	}
	
	.cphp_fbd_row
	{
		display: table-row;
	}
	
	.cphp_fbd_label, .cphp_fbd_field
	{
		display: table-cell;
	}
	
/* Generic CPHP FormBuilder styles end here */

.cphp_fbd_form
{
	border-spacing: 4px 7px;
	width: 100%;
}


.cphp_fbd_label, .cphp_fbd_field
{
	padding: 3px;
}

.cphp_fbd_label
{
	text-align: right;
	font-size: 15px;
	padding: 1px;
	padding-top: 5px;
	vertical-align: top;
	font-weight: bold;
}

.cphp_fbd_note
{
	font-size: 11px;
	font-weight: normal;
}

.cphp_fbd_field
{
	 width: 70%;
	 text-align: left;
	 padding-left: 7px;
}

.cphp_fbd_form input, .cphp_fbd_form select, .cphp_fbd_form textarea
{
	border: 1px solid #616161;
	padding: 4px;
	width: 90%;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	font-size: 19px;
}

.cphp_fbd_cblabel
{
	margin-top: 3px;
	margin-bottom: 5px;
}

.cphp_fbd_cblabel input
{
	width: auto;
	margin-right: 5px;
}

.cphp_fbd_form button
{
	font-size: 15px;
	border: 1px solid black;
	padding: 5px 10px;
	background-color: #E5E5E5;
}

.cphp_fbd_form button:hover
{
	background-color: #FAFAFA;
}

.cphp_fbd_form textarea
{
	height: 80px;
}

.cphp_fbd_fieldset
{
	margin: 5px 0px;
}

/* ErrorHandler styles start here */
	
	.errorhandler
	{
		margin: 10px 0px;
		padding: 8px 10px;
		padding-left: 46px;
		background-position: 8px 6px;
		background-repeat: no-repeat;
		min-height: 24px;
	}
	
	.errorhandler .error-title
	{
		font-weight: bold;
		font-size: 120%;
	}
	
	.errorhandler.error-error
	{
		background-color: #FCCBC9;
		border: 1px solid red;
		background-image: url(images/errorhandler_error.png);
	}
	
	.errorhandler.error-info
	{
		background-color: #C9F6FC;
		border: 1px solid blue;
		background-image: url(images/errorhandler_info.png);
	}
	
	.errorhandler.error-warning
	{
		background-color: #FBFCC9;
		border: 1px solid #C5BA00;
		background-image: url(images/errorhandler_warning.png);
	}
	
	.errorhandler.error-success
	{
		background-color: #DEFCC9;
		border: 1px solid #4CC500;
		background-image: url(images/errorhandler_success.png);
	}
	
	.errorhandler ul
	{
		margin: 0px;
		padding-left: 24px;
	}
	
	.errorhandler li
	{
	
	}
/* ErrorHandler styles end here */

.project-section
{
	padding: 6px;
	margin: 9px 0px;
	border: 1px solid #323232;
}

.project-section h3
{
	margin: 2px 0px;
}

