<config>
    <version>1.0</version>
    <!-- Database server information. -->
    <database>
        <host>localhost</host>
        <username>root</username>
        <password></password>
        <salt></salt>
        <name>anontune</name>
        <schema>
            <table>
                <name>activation</name>
                <field>
                    <name>id</name>
                    <type>BIGINT</type>
                    <length/>
                    <attribute>unsigned</attribute>
                    <not_null>1</not_null>
                    <default/>
                    <extra>AUTO_INCREMENT</extra>
                </field>
                <field>
                    <name>user_id</name>
                    <type>BIGINT</type>
                    <length/>
                    <attribute>unsigned</attribute>
                    <not_null/>
                    <default/>
                    <extra/>
                </field>
                <field>
                    <name>code</name>
                    <type>VARCHAR</type>
                    <length>20</length>
                    <attribute/>
                    <not_null/>
                    <default/>
                    <extra/>
                </field>
            </table>
            <table>
                <name>album</name>
                <field>
                    <name>id</name>
                    <type>BIGINT</type>
                    <length/>
                    <attribute>unsigned</attribute>
                    <not_null>1</not_null>
                    <default/>
                    <extra>AUTO_INCREMENT</extra>
                </field>
                <field>
                    <name>artist_id</name>
                    <type>BIGINT</type>
                    <length/>
                    <attribute>unsigned</attribute>
                    <not_null/>
                    <default>1</default>
                    <extra/>
                </field>
                <field>
                    <name>title</name>
                    <type>VARCHAR</type>
                    <length>70</length>
                    <attribute/>
                    <not_null/>
                    <default>Unknown</default>
                    <extra/>
                </field>
                <field>
                    <name>is_valid</name>
                    <type>INT</type>
                    <length>1</length>
                    <attribute>unsigned</attribute>
                    <not_null/>
                    <default>0</default>
                    <extra/>
                </field>
            </table>
            <table>
                <name>tag</name>
                <field>
                    <name>id</name>
                    <type>BIGINT</type>
                    <length/>
                    <attribute>unsigned</attribute>
                    <not_null>1</not_null>
                    <default/>
                    <extra>AUTO_INCREMENT</extra>
                </field>
                <field>
                    <name>tag</name>
                    <type>VARCHAR</type>
                    <length>50</length>
                    <attribute/>
                    <not_null/>
                    <default/>
                    <extra/>
                </field>
                <field>
                    <name>type</name>
                    <type>VARCHAR</type>
                    <length>70</length>
                    <attribute/>
                    <not_null/>
                    <default/>
                    <extra/>
                </field>
                <field>
                    <name>target_id</name>
                    <type>BIGINT</type>
                    <length/>
                    <attribute>unsigned</attribute>
                    <not_null/>
                    <default/>
                    <extra/>
                </field>
                <field>
                    <name>user_id</name>
                    <type>BIGINT</type>
                    <length/>
                    <attribute>unsigned</attribute>
                    <not_null/>
                    <default>0</default>
                    <extra/>
                </field>
            </table>
            <table>
                <name>music</name>
                <field>
                    <name>id</name>
                    <type>BIGINT</type>
                    <length/>
                    <attribute>unsigned</attribute>
                    <not_null>1</not_null>
                    <default/>
                    <extra>AUTO_INCREMENT</extra>
                </field>
                <field>
                    <name>title</name>
                    <type>VARCHAR</type>
                    <length>70</length>
                    <attribute/>
                    <not_null/>
                    <default>Unknown</default>
                    <extra/>
                </field>
                <field>
                    <name>artist_id</name>
                    <type>BIGINT</type>
                    <length/>
                    <attribute>unsigned</attribute>
                    <not_null/>
                    <default>1</default>
                    <extra/>
                </field>
                <field>
                    <name>album_id</name>
                    <type>BIGINT</type>
                    <length/>
                    <attribute>unsigned</attribute>
                    <not_null/>
                    <default>1</default>
                    <extra/>
                </field>
                <field>
                    <name>total_rating</name>
                    <type>BIGINT</type>
                    <length/>
                    <attribute>unsigned</attribute>
                    <not_null/>
                    <default>0</default>
                    <extra/>
                </field>
                <field>
                    <name>total_rater</name>
                    <type>BIGINT</type>
                    <length/>
                    <attribute>unsigned</attribute>
                    <not_null/>
                    <default>0</default>
                    <extra/>
                </field>
                <field>
                    <name>total_like</name>
                    <type>BIGINT</type>
                    <length/>
                    <attribute>unsigned</attribute>
                    <not_null/>
                    <default>0</default>
                    <extra/>
                </field>
                <field>
                    <name>total_dislike</name>
                    <type>BIGINT</type>
                    <length/>
                    <attribute>unsigned</attribute>
                    <not_null/>
                    <default>0</default>
                    <extra/>
                </field>
                <field>
                    <name>play_count</name>
                    <type>BIGINT</type>
                    <length/>
                    <attribute>unsigned</attribute>
                    <not_null/>
                    <default>0</default>
                    <extra/>
                </field>
                <field>
                    <name>skip_count</name>
                    <type>BIGINT</type>
                    <length/>
                    <attribute>unsigned</attribute>
                    <not_null/>
                    <default>0</default>
                    <extra/>
                </field>
                <field>
                    <name>is_valid</name>
                    <type>INT</type>
                    <length>1</length>
                    <attribute>unsigned</attribute>
                    <not_null/>
                    <default>0</default>
                    <extra/>
                </field>
            </table>
            <table>
                <name>track</name>
                <field>
                    <name>id</name>
                    <type>BIGINT</type>
                    <length/>
                    <attribute>unsigned</attribute>
                    <not_null>1</not_null>
                    <default/>
                    <extra>AUTO_INCREMENT</extra>
                </field>
                <field>
                    <name>title</name>
                    <type>VARCHAR</type>
                    <length>70</length>
                    <attribute/>
                    <not_null/>
                    <default>Unknown</default>
                    <extra/>
                </field>
                <field>
                    <name>artist_id</name>
                    <type>BIGINT</type>
                    <length/>
                    <attribute>unsigned</attribute>
                    <not_null/>
                    <default>1</default>
                    <extra/>
                </field>
                <field>
                    <name>genre</name>
                    <type>VARCHAR</type>
                    <length>50</length>
                    <attribute/>
                    <not_null/>
                    <default>Unknown</default>
                    <extra/>
                </field>
                <field>
                    <name>album_id</name>
                    <type>BIGINT</type>
                    <length/>
                    <attribute>unsigned</attribute>
                    <not_null/>
                    <default>1</default>
                    <extra/>
                </field>
                <field>
                    <name>year</name>
                    <type>CHAR</type>
                    <length>4</length>
                    <attribute/>
                    <not_null/>
                    <default>1984</default>
                    <extra/>
                </field>
                <field>
                    <name>time_played</name>
                    <type>INT</type>
                    <length/>
                    <attribute>unsigned</attribute>
                    <not_null/>
                    <default>0</default>
                    <extra/>
                </field>
                <field>
                    <name>time_added</name>
                    <type>INT</type>
                    <length/>
                    <attribute>unsigned</attribute>
                    <not_null/>
                    <default>0</default>
                    <extra/>
                </field>
                <field>
                    <name>playlist_id</name>
                    <type>BIGINT</type>
                    <length/>
                    <attribute>unsigned</attribute>
                    <not_null/>
                    <default>0</default>
                    <extra/>
                </field>
                <field>
                    <name>play_count</name>
                    <type>INT</type>
                    <length/>
                    <attribute>unsigned</attribute>
                    <not_null/>
                    <default>0</default>
                    <extra/>
                </field>
                <field>
                    <name>skip_count</name>
                    <type>INT</type>
                    <length>1</length>
                    <attribute>unsigned</attribute>
                    <not_null/>
                    <default>0</default>
                    <extra/>
                </field>
                <field>
                    <name>time_skipped</name>
                    <type>INT</type>
                    <length/>
                    <attribute>unsigned</attribute>
                    <not_null/>
                    <default>0</default>
                    <extra/>
                </field>
                <field>
                    <name>user_id</name>
                    <type>BIGINT</type>
                    <length/>
                    <attribute>unsigned</attribute>
                    <not_null/>
                    <default>0</default>
                    <extra/>
                </field>
                <field>
                    <name>music_id</name>
                    <type>BIGINT</type>
                    <length/>
                    <attribute>unsigned</attribute>
                    <not_null/>
                    <default>0</default>
                    <extra/>
                </field>
                <field>
                    <name>service_provider</name>
                    <type>INT</type>
                    <length>1</length>
                    <attribute>unsigned</attribute>
                    <not_null/>
                    <default>1</default>
                    <extra/>
                </field>
                <field>
                    <name>service_resource</name>
                    <type>VARCHAR</type>
                    <length>80</length>
                    <attribute/>
                    <not_null/>
                    <default/>
                    <extra/>
                </field>
                <field>
                    <name>number</name>
                    <type>INT</type>
                    <length>1</length>
                    <attribute>unsigned</attribute>
                    <not_null/>
                    <default>1</default>
                    <extra/>
                </field>
            </table>
            <table>
                <name>user</name>
                <field>
                    <name>id</name>
                    <type>BIGINT</type>
                    <length/>
                    <attribute>unsigned</attribute>
                    <not_null>1</not_null>
                    <default/>
                    <extra>AUTO_INCREMENT</extra>
                </field>
                <field>
                    <name>username</name>
                    <type>VARCHAR</type>
                    <length>100</length>
                    <attribute/>
                    <not_null/>
                    <default/>
                    <extra/>
                </field>
                <field>
                    <name>hash</name>
                    <type>CHAR</type>
                    <length>64</length>
                    <attribute/>
                    <not_null/>
                    <default/>
                    <extra/>
                </field>
                <field>
                    <name>group</name>
                    <type>INT</type>
                    <length>1</length>
                    <attribute>unsigned</attribute>
                    <not_null/>
                    <default>1</default>
                    <extra/>
                </field>
                <field>
                    <name>email</name>
                    <type>VARCHAR</type>
                    <length>50</length>
                    <attribute/>
                    <not_null/>
                    <default>email@example.com</default>
                    <extra/>
                </field>
                <field>
                    <name>is_activated</name>
                    <type>INT</type>
                    <length>1</length>
                    <attribute>unsigned</attribute>
                    <not_null/>
                    <default>0</default>
                    <extra/>
                </field>
                <field>
                    <name>age</name>
                    <type>INT</type>
                    <length>1</length>
                    <attribute>unsigned</attribute>
                    <not_null/>
                    <default>1</default>
                    <extra/>
                </field>
                <field>
                    <name>country</name>
                    <type>INT</type>
                    <length/>
                    <attribute>unsigned</attribute>
                    <not_null/>
                    <default>1</default>
                    <extra/>
                </field>
                <field>
                    <name>join_time</name>
                    <type>INT</type>
                    <length/>
                    <attribute>unsigned</attribute>
                    <not_null/>
                    <default>0</default>
                    <extra/>
                </field>
                <field>
                    <name>login_time</name>
                    <type>INT</type>
                    <length/>
                    <attribute>unsigned</attribute>
                    <not_null/>
                    <default>0</default>
                    <extra/>
                </field>
                <field>
                    <name>avatar</name>
                    <type>VARCHAR</type>
                    <length>50</length>
                    <attribute/>
                    <not_null/>
                    <default/>
                    <extra/>
                </field>
                <field>
                    <name>signature</name>
                    <type>TEXT</type>
                    <length>1000</length>
                    <attribute/>
                    <not_null/>
                    <default/>
                    <extra/>
                </field>
                <field>
                    <name>youtube_vid</name>
                    <type>VARCHAR</type>
                    <length>20</length>
                    <attribute/>
                    <not_null/>
                    <default/>
                    <extra/>
                </field>
                <field>
                    <name>time_played</name>
                    <type>INT</type>
                    <length/>
                    <attribute>unsigned</attribute>
                    <not_null/>
                    <default>0</default>
                    <extra/>
                </field>
            </table>
            <table>
                <name>rating</name>
                <field>
                    <name>id</name>
                    <type>BIGINT</type>
                    <length/>
                    <attribute>unsigned</attribute>
                    <not_null>1</not_null>
                    <default/>
                    <extra>AUTO_INCREMENT</extra>
                </field>
                <field>
                    <name>user_id</name>
                    <type>BIGINT</type>
                    <length/>
                    <attribute>unsigned</attribute>
                    <not_null/>
                    <default/>
                    <extra/>
                </field>
                <field>
                    <name>type</name>
                    <type>VARCHAR</type>
                    <length>70</length>
                    <attribute/>
                    <not_null/>
                    <default/>
                    <extra/>
                </field>
                <field>
                    <name>target_id</name>
                    <type>BIGINT</type>
                    <length/>
                    <attribute>unsigned</attribute>
                    <not_null/>
                    <default/>
                    <extra/>
                </field>
                <field>
                    <name>amount</name>
                    <type>INT</type>
                    <length>1</length>
                    <attribute>unsigned</attribute>
                    <not_null/>
                    <default/>
                    <extra/>
                </field>
            </table>
            <table>
                <name>playlist</name>
                <field>
                    <name>id</name>
                    <type>BIGINT</type>
                    <length/>
                    <attribute>unsigned</attribute>
                    <not_null>1</not_null>
                    <default/>
                    <extra>AUTO_INCREMENT</extra>
                </field>
                <field>
                    <name>user_id</name>
                    <type>BIGINT</type>
                    <length/>
                    <attribute>unsigned</attribute>
                    <not_null/>
                    <default/>
                    <extra/>
                </field>
                <field>
                    <name>cmd</name>
                    <type>varchar</type>
                    <length>200</length>
                    <attribute/>
                    <not_null/>
                    <default>0</default>
                    <extra/>
                </field>
                <field>
                    <name>parent_id</name>
                    <type>BIGINT</type>
                    <length/>
                    <attribute>unsigned</attribute>
                    <not_null/>
                    <default>0</default>
                    <extra/>
                </field>
                <field>
                    <name>name</name>
                    <type>varchar</type>
                    <length>150</length>
                    <attribute/>
                    <not_null/>
                    <default/>
                    <extra/>
                </field>
            </table>
            <table>
                <name>message</name>
                <field>
                    <name>id</name>
                    <type>BIGINT</type>
                    <length/>
                    <attribute>unsigned</attribute>
                    <not_null>1</not_null>
                    <default/>
                    <extra>AUTO_INCREMENT</extra>
                </field>
                <field>
                    <name>user_id</name>
                    <type>BIGINT</type>
                    <length/>
                    <attribute>unsigned</attribute>
                    <not_null/>
                    <default/>
                    <extra/>
                </field>
                <field>
                    <name>message</name>
                    <type>TEXT</type>
                    <length>2000</length>
                    <attribute/>
                    <not_null/>
                    <default/>
                    <extra/>
                </field>
                <field>
                    <name>type</name>
                    <type>VARCHAR</type>
                    <length>70</length>
                    <attribute/>
                    <not_null/>
                    <default/>
                    <extra/>
                </field>
                <field>
                    <name>target_id</name>
                    <type>BIGINT</type>
                    <length/>
                    <attribute>unsigned</attribute>
                    <not_null/>
                    <default/>
                    <extra/>
                </field>
                <field>
                    <name>is_sticky</name>
                    <type>INT</type>
                    <length>1</length>
                    <attribute>unsigned</attribute>
                    <not_null/>
                    <default>0</default>
                    <extra/>
                </field>
            </table>
            <table>
                <name>friend</name>
                <field>
                    <name>id</name>
                    <type>BIGINT</type>
                    <length/>
                    <attribute>unsigned</attribute>
                    <not_null>1</not_null>
                    <default/>
                    <extra>AUTO_INCREMENT</extra>
                </field>
                <field>
                    <name>user_id</name>
                    <type>BIGINT</type>
                    <length/>
                    <attribute>unsigned</attribute>
                    <not_null/>
                    <default/>
                    <extra/>
                </field>
                <field>
                    <name>friend_id</name>
                    <type>BIGINT</type>
                    <length/>
                    <attribute>unsigned</attribute>
                    <not_null/>
                    <default/>
                    <extra/>
                </field>
            </table>
            <table>
                <name>ip_address_history</name>
                <field>
                    <name>id</name>
                    <type>BIGINT</type>
                    <length/>
                    <attribute>unsigned</attribute>
                    <not_null>1</not_null>
                    <default/>
                    <extra>AUTO_INCREMENT</extra>
                </field>
                <field>
                    <name>user_id</name>
                    <type>BIGINT</type>
                    <length/>
                    <attribute>unsigned</attribute>
                    <not_null/>
                    <default/>
                    <extra/>
                </field>
                <field>
                    <name>ip_address</name>
                    <type>INT</type>
                    <length>4</length>
                    <attribute>unsigned</attribute>
                    <not_null/>
                    <default/>
                    <extra/>
                </field>
            </table>
            <table>
                <name>bad_word</name>
                <field>
                    <name>id</name>
                    <type>BIGINT</type>
                    <length/>
                    <attribute>unsigned</attribute>
                    <not_null>1</not_null>
                    <default/>
                    <extra>AUTO_INCREMENT</extra>
                </field>
                <field>
                    <name>word</name>
                    <type>LONGTEXT</type>
                    <length/>
                    <attribute/>
                    <not_null/>
                    <default/>
                    <extra/>
                </field>
                <field>
                    <name>replacement</name>
                    <type>LONGTEXT</type>
                    <length/>
                    <attribute/>
                    <not_null/>
                    <default/>
                    <extra/>
                </field>
            </table>
            <table>
                <name>artist</name>
                <field>
                    <name>id</name>
                    <type>BIGINT</type>
                    <length/>
                    <attribute>unsigned</attribute>
                    <not_null>1</not_null>
                    <default/>
                    <extra>AUTO_INCREMENT</extra>
                </field>
                <field>
                    <name>name</name>
                    <type>VARCHAR</type>
                    <length>50</length>
                    <attribute/>
                    <not_null/>
                    <default>Unknown</default>
                    <extra/>
                </field>
            </table>
            <table>
                <name>banned</name>
                <field>
                    <name>id</name>
                    <type>BIGINT</type>
                    <length/>
                    <attribute>unsigned</attribute>
                    <not_null>1</not_null>
                    <default/>
                    <extra>AUTO_INCREMENT</extra>
                </field>
                <field>
                    <name>type</name>
                    <type>VARCHAR</type>
                    <length>70</length>
                    <attribute/>
                    <not_null/>
                    <default/>
                    <extra/>
                </field>
                <field>
                    <name>target_id</name>
                    <type>BIGINT</type>
                    <length/>
                    <attribute>unsigned</attribute>
                    <not_null/>
                    <default/>
                    <extra/>
                </field>
            </table>
        </schema>
    </database>
    <!-- Information specific to the website. -->
    <anontune>
        <vhost>anontune</vhost>
        <home_directory>/home/anontune</home_directory>
        <url_root_part>/</url_root_part>
        <users>
        </users>
        <ipod_db>
            <max_size>1073741824</max_size>
            <upload_directory>ipod_db</upload_directory>
            <corrupt_directory>ipod_db/corrupt</corrupt_directory>
            <thread_no>100</thread_no>
        </ipod_db>
    </anontune>
    <!-- Developer information like auth for third party APIs. -->
    <developer>
        <api>
            <name>last.fm</name>
            <key></key>
        </api>
        <api>
            <name>youtube.com</name>
            <key></key>
        </api>
    </developer>
</config>











